# Python cache file
__pycache__/

# Visual Studio & Visual Studio Code files
.vs/
.vscode/

# Log files
logs/
*.log

# Data files
results/
*.csv

# Any build files
build/

# Pyinstaller directory
dist/

# .spec files
*.spec

# Any output files
output/
out/
